<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.web93.travel.mapper.SiteMapper">
  <resultMap id="BaseResultMap" type="com.web93.travel.entity.Site">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="province" jdbcType="VARCHAR" property="province" />
    <result column="city" jdbcType="VARCHAR" property="city" />
    <result column="district" jdbcType="VARCHAR" property="district" />
    <result column="site_name" jdbcType="VARCHAR" property="siteName" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="open_time" jdbcType="VARCHAR" property="openTime" />
    <result column="grade" jdbcType="VARCHAR" property="grade" />
  </resultMap>
</mapper>